@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo Ao Cadastro de Clientes</h1>
    <p>SISTEMA DE CADASTRO DE CLIENTES</p>
    <figure>
        <img src="./img/mine.png">
    </figure>
</div>
