@{
	ViewData["Title"] = "Criar Clientes";
}
<h1>Criar novo Cliente</h1>

<div class="criarcliente">
	<input class="form-control form-control-lg" type="text" placeholder="Nome" aria-label=".form-control-lg example">

	<input class="form-control form-control-lg" type="text" placeholder="Email" aria-label="default input example">

	<input class="form-control form-control-lg" type="text" placeholder="Telefone" aria-label=".form-control-sm example">
</div>

<div class="btn-group" role="group">
	<a role="button" class="btn btn-primary">Salvar</a>
</div>
